<!DOCTYPE html>
<html lang=en-US>
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/libre-caslon-display" type="text/css"/>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/libre-caslon-text" type="text/css"/>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/overpass" type="text/css"/>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/source-sans-pro" type="text/css"/>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/source-code-pro" type="text/css"/>

    <link href="/stylesheets/style.css" rel="stylesheet" />
    <link href="/stylesheets/colors-light.css" rel="stylesheet" />
    <link href="/stylesheets/code-colors-dark.css" rel="stylesheet" />

    {% include 'segment-io-prime' %}
</head>

<body>
    <header id="header">
        <h1><a href="/">{{ site.title }}</a></h1>
        <p>{{ site.description }}</p>
    </header>
    <div id="page">
        <div id="sidebar">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/archives">Archive</a></li>
                    <li><a href="/colophon">Colophon</a></li>
                    <li><a href="/feed.xml">Feed</a></li>
                </ul>
            </nav>
        </div>
        <div id="content">
            {{ content }}
            {% include 'segment-io-ultime' %}
        </div>
    </div>

    <footer id="footer">
        <p class="copyright">Copyright &copy; {{ site.time | date: '%Y' }} {{ site.author }}.</p>
    </footer>
</body>
</html>
